
<div class="row">
  <div class="col-xs-2" style="height:100px"></div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">


    <div class="row">

      <div class="col-xs-3"></div>


      <div class="col-xs-2"><img src="/images/p/zhaw.gif" class="img-responsive logos" alt="Zhaw"></div>
      <div class="col-xs-2"><img src="/images/p/Comet.gif" class="img-responsive logos" alt="Comet"></div>
      <div class="col-xs-2"><img src="/images/p/Uni_LU.png" class="img-responsive logos" alt="Universität Luzern"></div>

    </div><div class="row">

      <div class="col-xs-2"></div>
      <div class="col-xs-2"><img src="/images/p/Puur_Cilag.jpg" class="img-responsive logos" alt="puur Barlsberg"></div>

      <div class="col-xs-2"><img src="/images/p/Procter_Gamble.jpg" class="img-responsive logos" alt="Procter&Gamble"></div>
      <div class="col-xs-2"><img src="/images/p/Cessouest.png" class="img-responsive logos" alt="Cessouest"></div>
      <div class="col-xs-2"><img src="/images/p/Unia.svg" class="img-responsive logos" alt="Unia"></div>

    </div><div class="row">

      <div class="col-xs-1"></div>
      <div class="col-xs-2"><img src="/images/p/Pilatus_Aircraft_logo.svg" class="img-responsive logos" alt="Pilatus"></div>
      <div class="col-xs-2"><img src="/images/p/restorama_taubenried.jpeg" class="img-responsive logos" alt="restorama Taubenried"></div>
      <div class="col-xs-2"><img src="/images/p/BIT.gif" class="img-responsive logos" alt="Bundesamt für Informatik"></div>
      <div class="col-xs-2"><img src="/images/p/Medtronic.jpg" class="img-responsive logos" alt="Medtronic"></div>
      <!-- <div class="col-xs-2"><img src="/images/fkristandl.png" class="img-responsive logos" alt="Fkristandl"></div> -->


    </div>

    <!-- <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2"><img src="/images/fkostadinov_180.png" class="img-responsive logos" alt="Fkostadinov 180"></div>
    <div class="col-xs-2"><img src="/images/jmoosburner_180.png" class="img-responsive logos" alt="Jmoosburner 180"></div>
    <div class="col-xs-2"><img src="/images/lbounoure_180.png" class="img-responsive logos" alt="Lbounoure 180"></div>
    <div class="col-xs-2"><img src="/images/tbratschi_180.png" class="img-responsive logos" alt="Tbratschi 180"></div>

  </div> -->
</div>
<div class="col-md-2"></div>

</div>

<style>
.logos {
  vertical-align:bottom;
  padding:10px;
}
</style>
