---
layout: default
---




{{ content }}

<!--<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">

  </article>

</div> -->

<div class="call-to-action clearfix gradient" style="margin-top:100px;text-align:center;">
	<div class="element-compass clearfix" style="height:240px;">
		<div class="element element-41" style="width: 47px;height: 47px;margin-top: 10px;background-image: url('/images/RZ_1_STS_KLIMAFREUNDLICH_4C-copy-2.png');"></div>
		<p class="text text-234" style="margin-top: 13px">Our references</p>
		<p class="text text-248" style="padding:0px 15px">See with whom we work and what we have accomblished.<br></p>
    <a href="/references"><small style="margin:auto;">Check projects.</small></a>
	</div>
	<div class="element-compass element-compass-18 clearfix" style="height:240px;text-align:center">
		<div class="element element-55"></div>
		<p class="text text-281">Visit our office</p>
		<p class="text text-296">Meet the team in person and hear first-hand how we can work together.</p>
		<a href="/contact/#map"><small style="margin:auto;">View map.</small></a>
	</div>
	<div class="element-compass element-compass-39 clearfix" style="height:240px;text-align:center">
		<div class="element element-68"></div>
		<p class="text text-320">Write to us</p>
		<p class="text text-334" style="padding:0px 10px">Ask a question and find out more about what we can do for you.</p>
		<a href="mailto:email@eaternity.ch"><small style="margin:auto;">email@eaternity.ch</small></a>
	</div>
	<div class="element-compass element-compass-54 clearfix" style="height:240px;text-align:center">
		<div class="element element-call"></div>
		<p class="text text-358">Call Eaternity</p>
		<p class="text text-371">Let's talk. We can customise our products and services to fit your specific needs.</p>
		<small style="margin:auto;">+41 (0) 77 44 66 981</small>
	</div>
</div>

<style>
.gradient {
  /*background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%) rgb(222, 222, 222);*/
  padding-top:40px;
  text-align:center;
  height:300px;
}

</style>
